@import 'config';

* {
  font-family: $font-stack;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  margin: 70px 500px 0 500px;
  text-align: center;
  background-image: url(/assets/images/background.png);
  color: $primary-color;
  font-size: 25px;
}
h1 {
  font-size: 70px;
  font-weight: 700;
  margin-bottom: 25px;
}
.description {
  font-size: 30px;
  padding: 0 50px;
}
.game-container {
  color: $black-color;
  background-color: $gray-color;
  border: 7px solid $black-color;
  border-radius: 50px;
  margin: 100px 0;
  padding: 200px 0;
  p {
    font-size: 35px;
    font-weight: 500;
  }
}
.move-button1, .move-button2, .move-button3 {
  width: 200px;
  height: 200px;
  background-color: lighten($gray-color, 20%);
  border: 5px solid $black-color;
  border-radius: 100px;
  margin-right: 20px;
  cursor: pointer;
}
.move-button3 {
  margin-right: 0;
}
.move-button1:hover, .move-button2:hover, .move-button3:hover {
background-color: rgba(71, 63, 57, 0.3);
}
.move-button1:active, .move-button2:active, .move-button3:active {
background-color: rgba(22, 21, 20, 0.6);
transform: scale(.98);
}
.move-icon {
  height: 100px;
}
.result {
  color: $black-color;
  margin-top: 70px;
}
.score {
  margin-top: 100px;
  font-size: 30px;
}
.reset-score-button, .auto-play-button {
color: $black-color;
margin: 50px;
background-color: $primary-color;
border: 5px solid $black-color;
font-size: 30px;
padding: 15px 15px;
cursor: pointer;
border-radius: 15px;
}
.reset-score-button:hover, .auto-play-button:hover {
background-color: rgba(71, 63, 57, 0.5);
color: $primary-color;
}
.reset-score-button:active, .auto-play-button:active {
background-color:  rgba(22, 21, 20, 0.6);
transform: scale(.98);
}

@import 'media';
